<div class="container">
    <div class="col col-lg-8">
        <div class="panel">
            <div class="panel-heading">
                <span id="brand_room_logo" class="pull-left"></span> Room: {{ params.alias }}
                <span ng-show="supported">
                    <button ng-hide="notifications" ng-click="enableNotifications()" class="btn btn-small btn-success pull-right">Enable Desktop Notifications</button>
                </span>
                <span ng-hide="supported" class="text-warning pull-right">
                    Browser not supported. Please <a href="http://www.google.com/chrome">upgrade</a>.
                </span>
            </div>

            <form class="form-horizontal" id="form_message" ng-submit="send()">
                <div class="row">
                    <div class="col col-lg-12">
                        <textarea ng-disabled="ready" id="message" rows="2" ng-model="message" placeholder="write a message"></textarea>
                        <script>
                            $('#message').focus();
                            $('#message').bind('keydown', function(e) {
                                if (e.which == 13) {
                                    $scope = angular.element('#message').scope();
                                    $scope.send();
                                    $scope.$apply();
                                }
                            });
                        </script>
                    </div>
                    <div class="col col-lg-12 text-right">
                        <button ng-disabled="ready" type="submit" class="btn btn-primary">Send or press enter <span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger">Toggle Video <span class="glyphicon glyphicon-facetime-video"></span></button>
                    </div>
                </div>
            </form>

            <hr>

            <div class="row" ng-repeat="msg in messages">
                <div style="margin: 0.2em 0.5em 0.2em 0.5em;">
                    <div class="col col-1">
                        <img src="http://www.gravatar.com/avatar/{{ msg.hash }}?s=60&d=mm">
                    </div>
                    <div class="col col-11 alert alert-dropchat">
                        <span class="text-muted"><strong>{{msg.author}}</strong><span style="font-style: italic;"> wrote:</span></span> {{msg.message}}<br>
                        <small class="timestamp" style="font-style: italic;">{{ msg.timestamp | date:'medium' }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col col-lg-4">
        <div class="panel">
            <div class="panel-heading">
                Participants
            </div>
            <p ng-repeat="member in participants">
                <img src="http://www.gravatar.com/avatar/{{ member.hash }}?s=24&d=mm">
                <span class="online" ng-show="member.status">{{member.nickname}}</span>
                <span ng-hide="member.status">{{member.nickname}}</span>
                <button class="pull-right btn btn-small btn-default" ng-click="remove('{{member.email}}')"><span class="glyphicon glyphicon-remove"></span></button>
            </p>
            <p><strong>Invite to Room</strong><br>
            <form ng-submit="invite()">
                <input type="email" ng-model="email" placeholder="email address">
            </form>
            </p>
        </div>
    </div>
</div>