<div class="container">
    <div class="col col-lg-8">
        <div class="panel">
            <div class="panel-heading">
                <span id="brand_room_logo" class="pull-left"></span> Room: {{ params.alias }}
                <button ng-hide="notifications" ng-click="enableNotifications()" class="btn btn-small btn-success pull-right">Enable Desktop Notifications</button>
            </div>

            <form class="form-horizontal" id="form_message" ng-submit="send()">
                <div class="row">
                    <div class="col col-sm-10">
                        <textarea ng-disabled="ready" id="message" rows="2" ng-model="message" placeholder="write a message"></textarea>
                        <script>
                            $('#message').focus();
                            $('#message').bind('keydown', function(e) {
                                if (e.which == 13) {
                                    $scope = angular.element('#message').scope();
                                    $scope.send();
                                    $scope.$apply();
                                }
                            });
                        </script>
                    </div>
                    <div class="col col-sm-2">
                        <button ng-disabled="ready" type="submit" class="pull-right btn btn-primary">Send</button>
                    </div>
                </div>
            </form>

            <hr>

            <div class="row well" ng-repeat="msg in messages">
                <div class="media">
                    <a href="#" class="pull-left">
                        <img class="media-object" src="http://www.gravatar.com/avatar/{{ member.hash }}?s=50&d=mm">
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">{{ msg.author }}</h5>
                        {{ msg.message }}
                        <br><small class="timestamp">{{ msg.timestamp }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col col-lg-4">
        <div class="panel">
            <div class="panel-heading">
                Participants
            </div>
            <p ng-repeat="member in participants">
                <img src="http://www.gravatar.com/avatar/{{ member.hash }}?s=24&d=mm">
                {{member.nickname}}
                <button class="pull-right btn btn-small btn-default" ng-click="remove('{{member.email}}')"><span class="glyphicon glyphicon-remove"></span></button>
            </p>
            <p><strong>Invite to Room</strong><br>
            <form ng-submit="invite()">
                <input type="email" ng-model="email" placeholder="email address">
            </form>
            </p>
        </div>
    </div>
</div>